<div class="container">
    <div class="title">
        <h1>Découvrir</h1>
        <div class="content">
            <div class="content-one spa-one"><img src="/assets/imageHotel/spa1.jpg" alt=""></div>
            <div class="content-two spa-two"><img src="/assets/imageHotel/spa2.jpg" alt=""></div>
            <div class="content-three spa-three">
                <h3>spa</h3>
                <p>
                    Laissez-vous emporter par une vague de relaxation totale, où le temps s'arrête et le bien-être devient votre seule priorité.
                </p>
                <p>
                    Plongez dans un univers de détente absolue avec nos soins spa conçus pour revitaliser votre corps et apaiser votre esprit. Profitez d'une expérience luxueuse où chaque détail est pensé pour vous offrir un moment de sérénité et de bien-être.
                </p>
            </div>
            <div class="content-four spa-four"><img src="/assets/imageHotel/spa5.jpg" alt=""></div>
        </div>


        <div class="content">
            <div class="content-one chambre-one"><img src="/assets/imageHotel/chambre1.jpg" alt=""></div>
            <div class="content-two chambre-two"><img src="/assets/imageHotel/chambre2.jpg" alt=""></div>
            <div class="content-three chambre-three">
                <h3>chambre</h3>
                <p>
                    Découvrez une chambre luxueuse où l'élégance rencontre le confort, créant un cadre parfait pour une escapade mémorable. Chaque détail a été soigneusement pensé pour offrir une expérience raffinée et exquise, digne des plus grands hôtels.
                </p>
            </div>
            <div class="content-four chambre-four"><img src="/assets/imageHotel/chambre3.jpg" alt=""></div>
        </div>


        <div class="content">
            <div class="content-one chambre-one"><img src="/assets/imageHotel/jardin1.jpg" alt=""></div>
            <div class="content-two chambre-two"><img src="/assets/imageHotel/jardin3.jpg" alt=""></div>
            <div class="content-three chambre-three">
                <h3>jardin</h3>
                <p>
                    Un jardin somptueux où la nature s’épanouit en toute harmonie. Cet espace verdoyant, soigneusement aménagé, offre un cadre apaisant propice à la détente et à l’évasion. Parfait pour des moments de sérénité, il combine beauté naturelle et élégance, faisant de chaque promenade une expérience revitalisante, digne des plus beaux parcs privés.
                </p>
            </div>
            <div class="content-four chambre-four"><img src="/assets/imageHotel/jardin5.jpg" alt=""></div>
        </div>


        <div class="content">
            <div class="content-one chambre-one"><img src="/assets/imageHotel/resto2.jpg" alt=""></div>
            <div class="content-two chambre-two"><img src="/assets/imageHotel/resto3.jpg" alt=""></div>
            <div class="content-three chambre-three">
                <h3>restaurant</h3>
                <p>
                    Du saveurs authentiques et ambiance chaleureuse se rencontrent. Chaque plat, élaboré avec soin par nos chefs, est une véritable invitation à un voyage culinaire. L'élégance du cadre, associée à un service attentif, fait de ce lieu l'endroit idéal pour savourer des moments inoubliables, que ce soit pour un dîner en tête-à-tête ou une célébration entre amis.
                </p>
            </div>
            <div class="content-four chambre-four"><img src="/assets/imageHotel/resto5.jpg" alt=""></div>
        </div>

    </div>
</div>