.fondCloche {
    position: fixed;
    width: 100%;
    height: 100%;
}


.container {
    padding: 3em;
    width: 100%;

    h3 {
        font-family: w;
        font-size: xx-large;
        padding-bottom: 1em;
        border-bottom: solid 1px rgba(128, 128, 128, 0.463);
        z-index: 99;
    }

    h1 {
        font-family: w;
        font-weight: bold;
        font-size: 5vw;
        color: #EE951F;
    }

    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 3%;
        margin-bottom: 20em;

        P {
            text-align: justify;
            font-size: small;
        }

        .content-one {
            width: 20%;
            height: 15em;
            // overflow: hidden;
            object-fit: cover;
        }

        .content-two {
            margin-top: 4em;
            width: 40%;
            height: 40em;
            overflow: hidden;
            object-fit: cover;

        }

        .content-three {
            width: 25%;

        }

        .content-four {
            width: 15%;
            height: 30em;
            overflow: hidden;
            object-fit: cover;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 550px) {
    .content {
        P {
            font-size: 10px;
        }
    
        h3 {
            font-size: x-large;
        }
    }
}

@media (max-width: 250px) {
    .content {
        .chambre-four {
            display: none;
        }
    }
}
    


