<div class="container">
    <div class="content">
        <div class="title">
            Chez-Moi
        </div>

        <div class="contact info">
            <ul>
                <li class="bold"><b>Contact</b></li>
                <div>
                    <li><i class="pi pi-mobile" style="font-size: 1em" style="transform: rotateZ(-30deg);"></i>+ (261) 32 85 648 84</li>
                    <li><i class="pi pi-at" style="font-size: 1em"></i>reservhotenareo&#64;gmail.com</li>
                    <li><i class="pi pi-link" style="font-size: 1em"></i><a href="#">HotelNareo</a></li>
                </div>
            </ul>
        </div>

        <div class="ancre info">
            <ul>
                <li class="bold"><b>Pages</b></li>
                <div>
                    <li><i class="pi pi-home" style="font-size: 1rem"></i>Accueil</li>
                    <li><i class="pi pi-info-circle" style="font-size: 1rem"></i>a-propos</li>
                    <li><i class="pi pi-cart-arrow-down" style="font-size: 1rem"></i><a href="#">Réservation</a></li>
                </div>
            </ul>
        </div>

        <div class="image">
            <div class="row">
                <div><img src="/assets/imageHotel/chambre1.jpg" alt=""></div>
                <div><img src="/assets/imageHotel/spa1.jpg" alt=""></div>
                <div><img src="/assets/imageHotel/chambre2.jpg" alt=""></div>
            </div>
            <div class="row">
                <div><img src="/assets/imageHotel/spa2.jpg" alt=""></div>
                <div><img src="/assets/imageHotel/chambre3.jpg" alt=""></div>
                <div><img src="/assets/imageHotel/spa4.jpg" alt=""></div>
            </div>
            <div class="row">
                <div><img src="/assets/imageHotel/spa5.jpg" alt=""></div>
                <div><img src="/assets/imageHotel/image3.jpg" alt=""></div>
                <div><img src="/assets/imageHotel/spa3.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>