<div class="container">
    <div class="content">
        <div class="title">
            Chez-Moi
        </div>


        <div class="icon-mode">
            <ul>
                <li><img src="assets/icones/icons8_facebook.ico" alt=""></li>
                <li><img src="assets/icones/icons8_Instagram.ico" alt=""></li>
                <li><img src="assets/icones/icons8_Twitter.ico" alt=""></li>
                <li><img src="assets/icones/icons8_google.ico" alt=""></li>
                <li><img src="assets/icones/icons8_youtube.ico" alt=""></li>
            </ul>

            <p>&#64;copyright2024 TokyAngelot. Tous droits réservés</p>
        </div>
    </div>
</div>
