.container {
    margin-top: 10em;
    width: 100%;
    padding: 3em 3em 1em 3em;
    background-image: url(/assets/svg/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;

    .content {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        color: white;

        .title {
            font-family: w;
            font-size: xx-large;
        }


    }
}

ul {
    display: flex;
    justify-content: right;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    gap: 0;

    img {
        width: 50%;
    }
}

a {
    color: white;
    text-decoration: none;
}

p {
    display: flex;
    justify-content: right;
    
}


@media (min-width: 550px) {
    .content {
        display: block;
    }
}