@font-face {
    font-family: w;
    src: url(/assets/fonts/WanoQuin-ExtraBold.otf);
}




.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(20px); 
    

    .logo{
        text-transform: capitalize;
        font-size: 30px;
        cursor: pointer;
        font-family: w;
        color: #EE951F;
    }

    .nav ul {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }

    .menu{
        display: flex;
        gap: 20%;
        text-transform: uppercase;
        font-weight: 100;     
        li {
            list-style: none;
            a {
                color: white;
                font-size: x-small;
                text-decoration: none;
            }

        }
    }
}

section{
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
}

.video-section {
    video{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: -2;
        position: relative;
    }

    .img-container{
        position: absolute;
        top:0;
        height: 100vh;
        width: 100%;
        .img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        
    }
}

#none {
    display: none;
}

.text-couv {
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    padding: 10em 3em;
    color: white;

    .tv {
        font-family: w;
        text-transform: capitalize;

        span {
            position: relative;
            bottom: 1em;
        }

        .bg{
            font-size: 8em;
        }
        
        .sm{
            font-size: xx-large;
            height: 40px;
        } 
        
        .bottom {
            position: relative;
            bottom: .5em;
            left: 20%;
        }

    }

    .text-container {
        font-size: small;
        width: 30%;
    }

    .right-side {
        position: absolute;
        bottom: 15%;
        right: 10%;
        letter-spacing: 2px;

        button {
            position: relative;
            left: 3.5em;
            bottom: 0.3em;
            cursor: pointer;
            width: 12em;
            height: 4em;
            border: solid 2px white;
            border-radius: 2px;
            color: white;
            background-color: transparent;
        }

        button:hover {
            background-color: white;
            color: black;
        }
        a {
            cursor: pointer;
            padding: 2em 4em;
            border: solid 2px white;
            border-radius: 2px;
            color: white;
            background-color: transparent;
        }

        a:hover {
            background-color: white;
            color: black;
        }

    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: x-small;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 550px) {

    .text-couv {
        padding: 2em 1em;
    
        .tv {
            font-family: w;
            text-transform: capitalize;
    
            span {
                position: relative;
                bottom: 1em;
            }
    
            .bg{
                font-size: 4em;
            }
            
            .sm{
                font-size: larger;
                font-size: .5em;
            } 
            
            .bottom {
                position: relative;
                bottom: .5em;
                left: 25%;
            }
        }

        .text-container {
            padding-top: 0.5em;
            width: 70%;
            font-size: 10px;

            #none {
                display: block;
            }
            
            #block {
                display: none;
            }
        }
    
    } 


    

}
  
@media (max-width: 300px) {


}
  