<div class="container">
    <h1>Reservation</h1>
    <div class="content">
        <div class="descri">
            <div class="descri-top">
                <p>
                    Découvrez une nouvelle fonctionnalité immersive qui vous permet de visiter virtuellement nos domaines, appartements et chambres. Parcourez votre futur chez vous en ligne et commencez à réaliser votre rêve dès maintenant.
                </p>
            </div>
            <div class="descri-bottom">
                <p>
                    Cette maquette orbitale vous présente l’un de nos domaines situés à Ambohitsimisy. Explorez les chambres encore disponibles en temps réel. Pour réserver ou acheter, cliquez sur le bouton ci-dessous et remplissez les formulaires requis.
                </p>
                <button>Reserver >></button>
            </div>
        </div>

        <div class="reserve">
            <iframe src="https://waterskystudio.com/demo/#/home" frameborder="0"></iframe>
        </div>
    </div>
</div>