<div class="container">
    <h1>Reservation</h1>
    <div class="content">
        <div class="descri">
            <div class="descri-top">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto beatae dolorum praesentium maxime, accusantium reiciendis dignissimos adipisci cumque aperiam asperiores laudantium molestias totam dolor laborum quisquam veritatis eius nobis possimus.
                </p>
            </div>
            <div class="descri-bottom">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima est cumque enim consequatur corrupti deserunt odit totam ipsa porro culpa?
                </p>
                <button>Reserver >></button>
            </div>
        </div>

        <div class="reserve">
            <iframe src="http://localhost:4391/" frameborder="0"></iframe>
        </div>
    </div>
</div>