<!-- <div class="container">
    <div class="content">
      <div #threeDImage class="image threeD-image">
        <ul #imageList id="image-list1">
          <li
            *ngFor="
              let i of [
                00, 01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15,
                16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
                32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
                48, 49
              ]">
  
  
            <div class="image" id="image1_{{ i }}" [ngClass]="{ hidden: !dataSharedService.activateToit }">
              <img src="assets/imge3D/MO_full_LOW/MO_Full_{{ padNumber(i, 5) }}.png" alt="" loading="lazy" />
            </div>
  
  
            <div class="image" id="image2_{{ i }}" [ngClass]="{ hidden: !dataSharedService.activateEtageTwo }">
              <img src="assets/imge3D/MO_R2_LOW/MO_R2_{{ padNumber(i, 5) }}.png" alt="" loading="lazy" />
            </div>
  
            <div class="image" id="image3_{{ i }}" [ngClass]="{ hidden: !dataSharedService.activateEtageOne }">
              <div class="btn-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2800 1575" id="dynamic-svg">
                </svg>
              </div>
              <img  src="assets/imge3D/MO_R1_Low/MO_R1_{{ padNumber(i, 5) }}.png" alt="" loading="lazy" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="card toolbar">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-button (click)="toogletagToit()" label="Toit" class="mr-3" [text]="true" [raised]="true" />
        <p-button (click)="toogletagEtageOne()" label="Etage 1" class="mr-3" [text]="true" [raised]="true" />
        <p-button (click)="toogletagEtageTwo()" label="Etage 2" class="mr-3" [text]="true" [raised]="true" />
        <p-button (click)="toogletagRdc()" label="RDC" [text]="true" [raised]="true" />
      </div>
    </p-toolbar>
  </div> -->
